@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	color: #262523;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4;
	background-color: #B1ACA4;
	list-style-type: none;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
p {
	font-size: 0.85em;
	line-height: 1.4em;
	padding-right: 15px;
	padding-left: 15px;
}

h2, h3, h4, h5, h6 {
	margin-top: 2px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #8C443E;
	line-height: 1.4em;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: -2px;
}
a img {
	border: none;
}
a:link {
	color: #262523;
	text-decoration: underline;
}
a:visited {
	color: #262523;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	margin: auto;
}
.container {
	width: 960px;
	margin: 0 auto;
	background-color: #FFF;
	background-repeat: repeat-y;
	background-position: 0px 0px;
	background-image: url(../images/bg_container.gif);
	-moz-box-shadow: 0px 0px 70px #000;
	-webkit-box-shadow: 0px 0px 70px #000;
	box-shadow: 0px 0px 70px #000;
}
.header {
	background-color: #D9CBA0;
}
.sidebar1 {
	float: left;
	width: 179px;
	padding-bottom: 10px;
	z-index: 10;
	color: #F2EDD0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}
.content {
	padding: 0px;
	width: 780px;
	float: right;
	margin: 0px;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}
ul.nav {
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
	background-color: #5280A5;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	color: #FFF;
/*	background-color: #D9A171;
*/	background-color: #5280A5;
}
.footer {
	padding: 10px;
	position: relative;
	clear: both;
	background-color: #5280A5;
	color: #F2EDD0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	text-align: right;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 0px 5px 5px #000;
	box-shadow: 0px 5px 5px #000;
	width: 99%;
	display: block;
	letter-spacing: .1em;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}.darkGround {
	background-color: #262523;
}
table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #262523;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 3px;
	width: 95%;
}
tr {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	text-align: left;
	vertical-align: top;
}


.sidebar1 h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #F2EDD0;
	margin: 0px;
	padding: 5px;
}
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #B1ACA4;
	line-height: 0.5em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 4em;
	margin-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-shadow: 2px 2px 2px #000;
	font-style: italic;
	}
.content h1 img {
	float: right;
	border: 1px solid #000;
	margin: 15px;
	-moz-box-shadow: 5px 5px 8px #000;
	-webkit-box-shadow: 5px 5px 8px #000;
	box-shadow: 5px 5px 8px #000;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.current {
	background-color: #F2EDD0;
}
p a {
	color: #8C443E;
}
.header a img {
	transform:rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	margin-top:10px;
	margin-bottom: -20px;
	margin-left:30px;
	
	}
#catalogP {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/*font-size: 0.75em;*/
	margin: 0px;
	width: 500px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	line-height: 1.2em;
}
.subSubmenu {
	display: block;
	border: 1px dotted #D9A170;
	list-style-type: none;
}
.fieldset {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #5280A5;
	width: 550px;
	background-color: #F2EDD0;
}
.req {
	font-weight: bold;
	color: #944538;
}	
.tdCol1 {
	text-align: right;
}
.trBorder1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #944638;
	border-bottom-color: #944638;
}
.tdColBorderL {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #944538;
}
.tdCol1 label {
	text-align: right;
}
.colwidth1 {
	width: 128px;
}
.colwidth4 {
	width: 128px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #954639;
	border-bottom-color: #954639;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #954639;
}
.colwidth2 {
	width: 50px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #954639;
	border-bottom-color: #954639;
}
.content ul {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #5280A5;
	list-style-type: none;
	font-style: italic;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	line-height: 1.3em;
}
#form1 table caption {
	text-align: left;
	color: #5280A5;
}
.ofinput {
	display: block;
	height: 1.5em;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}.tsinput {
	display: block;
	width: 75%;
	height: 1.7em;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.thCustomTable {
	font-size: 105%;
	font-weight: bold;
	color: #944538;
	background-color: #D9CBA0;
}
.editableTableCells {
	color: #262523;
	background-color: #F2EDD0;
	margin: 0px;
	padding: 2px;
	border: 1px dotted #D9CBA0;
}
div form {
	margin: 15px;
}

img.thumbs {
	float:left;
	margin-right: 2px;
	margin-bottom: 2px;
	border: solid black 1px;
}
.StackedColumn a {
	font: bold 0.9em "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgba(147,70,57,1);
}
.StackedColumn {
	font: 0.9em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgba(82,128,165,1);
}
.StackedContainer .StackedColumn {
	background: rgba(242,237,208,1);
	padding: 3px 3px 3px 12px;
}
.SpotlightAndStackedRow .SpotlightContainer {
	background: rgba(255,255,255,1);
	margin: auto;
}
